<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.emp.service.impl.JobMapper">
	<select id="getSearchJob" parameterType="job" resultType="job">
		select * from jobs
	</select>
	
	<select id="getJob" resultType="job">
		select *
		from jobs
		where job_id=#{job_id}
	</select>
</mapper>